%h1.text-center My Auction Items

%ul.nav.nav-tabs{role: "tablist"}
  %li.active.nav-item{role: "presentation"}
    %a.nav-link{href: "#active-items", "aria-controls": "active-items", role: "tab", "data-toggle": "tab"}
      Active
  %li.nav-item{role: "presentation"}
    %a.nav-link{href: "#expired-items", "aria-controls": "expired-items", role: "tab", "data-toggle": "tab"}
      Expired
  %li.nav-item{role: "presentation"}
    %a.nav-link{href: "#won-items", "aria-controls": "won-items", role: "tab", "data-toggle": "tab"}
      Won
.tab-content
  %div#active-items.tab-pane.active{role: "tabpanel"}
    %table{class: "table table-hover table-bordered"}
      %tr 
        %th
          Item
        %th
          Auction
        %th
          Closes In
        %th
          Starting Price
        %th
          High Bid 
        %th
          High Bidder
        %th
          Action
      - current_user.owned_items.active.each do |item|
        %tr
          %td
            = item.name
          %td 
            = item.auction.name
          %td 
            = distance_of_time_in_words(Time.now, item.closes_at)
          %td
            = number_to_currency(item.starting_price, precision: 0)
          %td 
            = number_to_currency(item.current_high_bid, precision: 0)
          %td
            = item.current_high_bidder
          %td
            - if belongs_to_current_user? item
              %a.btn.btn-sm.btn-info{href: "/item/#{item.id}/bids"} View Bids
            - elsif current_user_bid(item).present?
              = form_tag("/bid/#{current_user_bid(item).id}", method: :put, class: "d-inline") do
                = number_field("bid", "value", required: true, min: item.starting_price + 1, style: "width: 60px;")
                = submit_tag("Update", class: "btn btn-sm btn-warning")
              = button_to "Delete", "/bid/#{current_user_bid(item).id}", method: :delete, form_class: "d-inline", class: "btn btn-sm btn-danger"
            - else
              = form_tag("/bid", method: :post) do 
                = number_field("bid", "value", required: true, min: item.starting_price + 1, style: "width: 60px;")
                = hidden_field_tag("item_id", item.id)
                = submit_tag("Bid", class: "btn btn-sm btn-success")
  %div#expired-items.tab-pane{role: "tabpanel"}
    %table{class: "table table-hover table-bordered"}
      %tr 
        %th
          Item 
        %th 
          Auction
        %th
          Closed At
        %th
          Starting Price
        %th
          Winning Bid
        %th
          Winner
      - current_user.owned_items.expired.each do |item|
        %tr
          %td
            = item.name
          %td 
            = item.auction.name
          %td 
            = distance_of_time_in_words(Time.now, item.closes_at)
          %td
            = number_to_currency(item.starting_price, precision: 0)
          %td 
            = item.winning_bid_value
          %td
            = item.winner 
  %div#won-items.tab-pane{role: "tabpanel"}
    %table{class: "table table-hover table-bordered"}
      %tr
        %th
          Item
        %th 
          Auction
        %th 
          Owner
        %th
          Closed At
        %th
          Starting Price
        %th
          Winning Bid
      - current_user.won_items.each do |item|
        %tr
          %td
            = item.name
          %td 
            = item.auction.name 
          %td 
            = item.owner.full_name
          %td 
            = distance_of_time_in_words(Time.now, item.closes_at)
          %td
            = number_to_currency(item.starting_price, precision: 0)
          %td 
            = number_to_currency(item.winning_bid_value, precision: 0)
